<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.TestSuite_TSC_001_Register</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_001_TC012</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>testCases.TestSuite_TSC_004_Logout</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TSC_004_TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_004_TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>testCases.TestSuite_TSC_002_ActivateAccount</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>testCases.TestSuite_TSC_007_ForgotPassword</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TSC_007_TC003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_007_TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_007_TC005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_007_TC004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_007_TC006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_007_TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>testCases.TestSuite_TSC_008_Transaction</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC0012</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC0011</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC0010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_008_TC009</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>testCases.TestSuite_TSC_003_Login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC003</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>testCases.TestSuite_TSC_005_Profile</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>testCases.TestSuite_TSC_009_ResendOTP</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TSC_009_TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_009_TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
