<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>EmployeeRestAPISuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe6bb">  <td>20/05/13 11:51:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/05/13 11:51:33</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_getAllDataUser.getAllUsers()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">&gt;&gt;getAllUsers</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/05/13 11:51:36</td>   <td>2894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_getAllDataUser.checkConnection()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">checkConnection</td> 
  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/05/13 11:51:36</td>   <td>2914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_getAllDataUser.checkContentType()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">checkContentType</td> 
  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/05/13 11:51:36</td>   <td>2916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_getAllDataUser.checkResponseBody()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">checkResponseBody</td> 
  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/05/13 11:51:36</td>   <td>2929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_getAllDataUser.checkResponseTime()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">checkResponseTime</td> 
  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/05/13 11:51:36</td>   <td>2932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_getAllDataUser.checkServerTime()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">checkServerTime</td> 
  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/05/13 11:51:36</td>   <td>2948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_getAllDataUser.checkServerType()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">checkServerType</td> 
  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/05/13 11:51:36</td>   <td>2951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_getAllDataUser.checkStatusCode()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">checkStatusCode</td> 
  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/05/13 11:51:36</td>   <td>2956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_getAllDataUser.checkStatusLine()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">checkStatusLine</td> 
  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/05/13 11:51:36</td>   <td>2959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_getAllDataUser.checkTransferEncoding()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">checkTransferEncoding</td> 
  <td>main@518522822</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/05/13 11:51:36</td>   <td>2961</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_001_getAllDataUser.tearDown()[pri:0, instance:testCases.TC_001_getAllDataUser@490ab905]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@518522822</td>   <td></td> </tr>
</table>
