<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.TestSuite_TSC_002_ActivateAccount</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC007</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC009</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC008</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC010</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_002_TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>testCases.TestSuite_TSC_003_Login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC004</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC006</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC005</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_003_TC003</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>testCases.TestSuite_TSC_006_UpdateProfile</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TSC_006_TC003</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_006_TC002</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TSC_006_TC001</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>startTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
