<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Register</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f8bb1">  <td>20/05/15 17:49:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_TSC_002_ActivateAccount.TSC_002_TC001(java.lang.String, java.lang.String)[pri:0, instance:testCases.TestSuite_TSC_002_ActivateAccount@29ca901e]">TSC_002_TC001</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>20/05/15 17:49:05</td>   <td>848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_TSC_003_Login.TSC_003_TC001(java.lang.String, java.lang.String)[pri:0, instance:testCases.TestSuite_TSC_003_Login@5649fd9b]">TSC_003_TC001</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>20/05/15 17:49:05</td>   <td>924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite_TSC_006_UpdateProfile.TSC_006_TC001(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TestSuite_TSC_006_UpdateProfile@6adede5]">TSC_006_TC001</td> 
  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>20/05/15 17:49:04</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TestSuite_TSC_002_ActivateAccount@29ca901e]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>20/05/15 17:49:05</td>   <td>846</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TestSuite_TSC_003_Login@5649fd9b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>20/05/15 17:49:05</td>   <td>921</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TestSuite_TSC_006_UpdateProfile@6adede5]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>20/05/15 17:49:04</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSuite_TSC_002_ActivateAccount.startTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TestSuite_TSC_002_ActivateAccount@29ca901e]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>20/05/15 17:49:05</td>   <td>847</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSuite_TSC_003_Login.startTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TestSuite_TSC_003_Login@5649fd9b]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>20/05/15 17:49:05</td>   <td>922</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestSuite_TSC_006_UpdateProfile.startTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TestSuite_TSC_006_UpdateProfile@6adede5]">&gt;&gt;startTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>20/05/15 17:49:05</td>   <td>845</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSuite_TSC_002_ActivateAccount.tearDown()[pri:0, instance:testCases.TestSuite_TSC_002_ActivateAccount@29ca901e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>20/05/15 17:49:05</td>   <td>921</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSuite_TSC_003_Login.tearDown()[pri:0, instance:testCases.TestSuite_TSC_003_Login@5649fd9b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
<tr bgcolor="8a60e3">  <td>20/05/15 17:49:05</td>   <td>980</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestSuite_TSC_006_UpdateProfile.tearDown()[pri:0, instance:testCases.TestSuite_TSC_006_UpdateProfile@6adede5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1906808037</td>   <td></td> </tr>
</table>
