<h2>Methods that were not run</h2><table>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC003</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC004</td></tr>
<tr><td>testCases.TestSuite_TSC_003_Login.TSC_003_TC006</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC001</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC002</td></tr>
<tr><td>testCases.TestSuite_TSC_002_ActivateAccount.TSC_002_TC007</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC007</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC008</td></tr>
<tr><td>testCases.TestSuite_TSC_002_ActivateAccount.TSC_002_TC009</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC005</td></tr>
<tr><td>testCases.TestSuite_TSC_002_ActivateAccount.TSC_002_TC008</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC006</td></tr>
<tr><td>testCases.TestSuite_TSC_006_UpdateProfile.TSC_006_TC002</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC009</td></tr>
<tr><td>testCases.TestSuite_TSC_002_ActivateAccount.TSC_002_TC010</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC014</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC012</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC013</td></tr>
<tr><td>testCases.TestSuite_TSC_002_ActivateAccount.TSC_002_TC002</td></tr>
<tr><td>testCases.TestSuite_TSC_006_UpdateProfile.TSC_006_TC003</td></tr>
<tr><td>testCases.TestSuite_TSC_002_ActivateAccount.TSC_002_TC003</td></tr>
<tr><td>testCases.TestSuite_TSC_002_ActivateAccount.TSC_002_TC005</td></tr>
<tr><td>testCases.TestSuite_TSC_002_ActivateAccount.TSC_002_TC004</td></tr>
<tr><td>testCases.TestSuite_TSC_003_Login.TSC_003_TC005</td></tr>
<tr><td>testCases.TestSuite_TSC_003_Login.TSC_003_TC004</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC010</td></tr>
<tr><td>testCases.TestSuite_TSC_002_ActivateAccount.TSC_002_TC006</td></tr>
<tr><td>testCases.TestSuite_TSC_003_Login.TSC_003_TC003</td></tr>
<tr><td>testCases.TestSuite_TSC_001_Register.TSC001_TC011</td></tr>
<tr><td>testCases.TestSuite_TSC_003_Login.TSC_003_TC002</td></tr>
</table>